@import "../../styles/typography.module";
@import "../../styles/variables";

.app__container {
  margin-top: $m-init;
  margin-inline: $p-init;
  padding: $p-init;
  background: $primary;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  > p {
    color: $bright;
    grid-row: 1/2;
    align-self: flex-start;
  }

  > h3 {
    color: $bright;
    grid-row: 2/3;
    align-self: center;
  }
}

.app__img {
  width: 100%;
  aspect-ratio: 1/1;
  background: #ffe6ca;
  grid-row: 1/3;
  justify-self: center;

  > img {
    object-fit: scale-down;
    aspect-ratio: 1/1;
  }
}
