@use "../../styles" as *;

.trends {
  display: flex;
  flex-direction: column;
  gap: $size-1;
  margin-top: $size-6;
}

.trend__container {
  width: 100%;
  aspect-ratio: 21 / 6;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.trend__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: start;
  padding: $size-4;

  * {
    color: hsl(19, 66%, 36%);
  }

  h2,
  p {
    display: inline-block;
    width: fit-content;
  }

  p {
    background-color: rgba($clr-accent-400, 0.6);
    border-radius: $border-radius;
    padding: 0.2rem 0.5rem;
  }
}
