@use "../../styles" as *;

.categories {
  display: flex;
  flex-direction: column;
  gap: $size-1;
  margin-top: $size-6;
}

.category__container {
  width: 100%;
  padding-inline: $size-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  > h3 {
    color: $clr-emphasis-high;
    font-size: $fs-3;
    font-weight: $fw-500;
  }
}

.category__img {
  background-color: $clr-gray;
  border-radius: $border-radius;

  > svg {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

.title{
  @extend %fw-600, %text-emphasis-high ;
}
