@use "../../../styles/" as *;

.checkout__container {
  @extend %pd-inline;

  display: grid;
  gap: 1rem;
  grid-template-areas:
    "title"
    "address"
    "summary"
    "payment"
    "payBtn";

  @media (min-width: $screen-md) {
    gap: 1rem 5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title title"
      "address summary"
      "payment summary"
      "payBtn summary";
  }
}

.title-area {
  grid-area: title;
}

.checkout__title {
  font-size: $fs-m-2;
  font-weight: $fw-600;
  color: $clr-primary;
  margin-block: 1rem clamp(1rem, 0.75rem + 1.3333vw, 2rem);
}
