@use "../../../styles/" as *;

.summary-area {
  grid-area: summary;
}

.summary__container,
.section,
.summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section {
  gap: 1rem;
}

@media (max-width: $screen-md) {
  .summary {
    gap: 0.5rem;
  }
}

.item__container {
  display: grid;
  grid-template-rows: repeat(3, 1.5rem);
  grid-auto-columns: max-content;
  gap: 0.5rem 1rem;
  grid-template-areas:
    "img ctg"
    "img title"
    "img qty";
}

.img-area {
  grid-area: img;
}

.ctg-area {
  grid-area: ctg;
}

.title-area {
  grid-area: title;
}

.qty-area {
  grid-area: qty;
}

.img__container {
  height: 100%;
  aspect-ratio: 3/2;
}

.img {
  border-radius: 8px;
  object-fit: cover;
  object-position: left bottom;
}

.ctg,
.item__info {
  font-size: $fs-s-2;
  font-weight: $fw-600;
  color: $clr-emphasis-high;
}

.item__info {
  font-weight: $fw-400;
  color: $clr-emphasis-low;
}

.section__title {
  padding-block: 0.5rem;
  font-size: $fs-r-2;
  font-weight: $fw-600;
  color: $clr-emphasis-low;

  @media (min-width: $screen-md) {
    color: $clr-dark;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.details__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: $clr-emphasis-high;
}

.detail__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.regular__title {
  color: $clr-emphasis-low;
}
