@use "../../../styles/" as *;

.flex--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__container {
  gap: 3rem;
  padding-inline: 2rem;
}

.img__container {
  display: inline-block;
  height: 15rem;

  svg {
    height: 100%;
    width: 100%;
  }
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  color: $clr-dark-400;
}

.description__container {
  gap: 1rem;
}

.description {
  font-size: 0.875rem;
  font-weight: 500;
  color: $clr-dark-400;
  max-width: 18rem;
  text-align: center;
}

.link__container{
    width: 100%;
    gap: 0.5rem;
}

.link,.link--revrse{
    width: 100%;
    padding-block: 0.6rem;
    border-radius: 8px;
    text-align: center;
    font-size: clamp(0.875rem, 0.8438rem + 0.1667vw, 1rem);
    font-weight: 600;
    color: $clr-bright-400;
    background-color: $clr-primary-400;
}

.link--revrse{
    color: $clr-primary-400;
    background-color: $clr-bright-400;
    border: 1px solid $clr-primary-400;
}

@media(min-width:$screen-md){
    .link,.link--revrse{
        width: 22.5rem;
        // padding-inline: 7rem;
    }
}