@use "../../../styles/" as *;

.flex--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__container {
  gap: 3rem;
  padding-inline: 2rem;
}

.img__container {
  display: inline-block;
  height: 15rem;

  svg {
    height: 100%;
    width: 100%;
  }
}

.title {
  font-size: $fs-8;
  font-weight: $fw-700;
  color: $clr-dark;
}

.description__container {
  gap: 1rem;
}

.description {
  font-size: $fs-4;
  font-weight: $fw-500;
  color: $clr-dark;
  max-width: 18rem;
  text-align: center;
}

.link__container{
    width: 100%;
    gap: 0.5rem;
}

.link,.link--revrse{
    width: 100%;
    padding-block: 0.6rem;
    border-radius: $border-radius;
    text-align: center;
    font-size: $fs-r-1;
    font-weight: $fw-600;
    color: $clr-bright;
    background-color: $clr-primary;
}

.link--revrse{
    color: $clr-primary;
    background-color: $clr-bright;
    border: 1px solid $clr-primary;
}

@media(min-width:$screen-md){
    .link,.link--revrse{
        width: 22.5rem;
        // padding-inline: 7rem;
    }
}