@use "../../../styles/" as *;

.pay-area {
  grid-area: payBtn;
}

.checkout__pay {
  color: $clr-bright;
  font-size: $fs-4;
  font-weight: 600;
  background-color: $clr-primary;
  border-radius: $border-radius;
  padding-block: 0.6rem;
}

.checkout__pay:disabled {
  color: $clr-primary;
  background-color: $clr-bright;
  border: 1px solid $clr-primary;
}

@media (min-width: $screen-md) {
  .checkout__pay {
    justify-self: end;
    padding-inline: 2rem;
  }
}
