@use "../../../styles/" as *;

.pay-area {
  grid-area: payBtn;
}

.checkout__pay {
  color: $clr-bright-400;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: $clr-primary-400;
  border-radius: 8px;
  padding-block: 0.6rem;
}

.checkout__pay:disabled {
  color: $clr-primary-400;
  background-color: $clr-bright-400;
  border: 1px solid $clr-primary-400;
}

@media (min-width: $screen-md) {
  .checkout__pay {
    justify-self: end;
    padding-inline: 2rem;
  }
}
