@use "../../styles" as *;

.brands {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size-1;
  margin-top: $size-6;
}

.brands__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brands__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: $size-4;
}

@media (min-width: $screen-md) {
  .brands__container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
}

.brands__image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $clr-gray-400;

  svg {
    width: 100%;
  }
}
