@use "variables" as *;

.pd-inline {
  @extend %pd-inline;
}

.button,
.button-reverse,
.not-found__container a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  // height: fit-content;
  font-size: $fs-4;
  border-radius: $border-radius;
  padding-block: 0.6rem;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $screen-md) {
    width: 11.25rem;
  }
}

.button,
.not-found__container a {
  background-color: $clr-primary;
  color: $clr-bright;
}

.button:hover,
.button:disabled,
.button-reverse,
.not-found__container a:hover {
  background-color: $clr-bright;
  color: $clr-primary;
  border: 1px solid $clr-primary;
}

.button:disabled {
  cursor: not-allowed;
}

.not-found__container {
  display: inline-flex;
  width: 100%;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: $clr-primary;
  font-size: $fs-5;
  font-weight: $fw-500;

  h2 {
    color: $clr-dark;
    font-size: $fs-8;
    font-weight: $fw-600;
  }
  // a{
  //   background: $clr-error;
  // }
}
