@use "variables" as *;

// primary font size placeholders
@each $key, $val in $fs-primary-list {
  %fs-#{$key} {
    font-size: #{$val};
  }

  .fs-#{$key} {
    font-size: #{$val};
  }
}

@each $key, $val in $clr-list {
  %bg-#{$key} {
    background-color: #{$val};
  }

  %text-#{$key} {
    color: #{$val};
  }
}


@each $key, $val in $fw-list {
  %fw-#{$key} {
    font-weight: #{$val};
  }

  .fw-#{$key} {
    font-weight: #{$val};
  }
}

