//media breakpoints
$screen-sm: 25em;
$screen-md: 50em;

//default border radius
$border-radius: 8px;

//default padding inline
%pd-inline {
  padding-inline: clamp(1rem, 0.9375rem + 0.3333vw, 1.25rem);
}

// colors
$clr-primary: hsl(202, 58%, 25%);
$clr-tint: hsl(184, 21%, 49%);
$clr-error: hsl(349, 100%, 35%);
$clr-highlight: hsl(22, 100%, 65%);
$clr-dark: hsl(253, 30%, 9%);
$clr-accent: hsl(0, 0%, 96%);
$clr-bright: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 0%, 95%);
$clr-light: hsl(0, 0%, 71%);
$clr-emphasis-high: hsl(251, 21%, 10%);
$clr-emphasis-low: hsl(0, 0%, 38%);

$clr-list: (
  primary: $clr-primary,
  tint: $clr-tint,
  error: $clr-error,
  highlight: $clr-highlight,
  dark: $clr-dark,
  accent: $clr-accent,
  bright: $clr-bright,
  gray: $clr-gray,
  light: $clr-light,
  emphasis-high: $clr-emphasis-high,
  emphasis-low: $clr-emphasis-low,
);

//font size
$fs-1: 0.5rem;
$fs-2: 0.625rem;
$fs-3: 0.75rem;
$fs-4: 0.875rem;
$fs-5: 1rem;
$fs-6: 1.125rem;
$fs-7: 1.5rem;
$fs-8: 1.75rem;
$fs-9: 1.875rem;
$fs-10: 2rem;
$fs-11: 2.125rem;
$fs-12: 2.5rem;
$fs-13: 2.75rem;
$fs-14: 3rem;
$fs-15: 3.25rem;
$fs-16: 3.75rem;

$fs-primary-list: (
  1: $fs-1,
  2: $fs-2,
  3: $fs-3,
  4: $fs-4,
  5: $fs-5,
  6: $fs-5,
  7: $fs-7,
  8: $fs-8,
  9: $fs-9,
  10: $fs-10,
  11: $fs-11,
  12: $fs-12,
  13: $fs-13,
  14: $fs-14,
  15: $fs-15,
  16: $fs-16,
);

// font size clamps
//small :
$fs-s-1: clamp(0.75rem, 0.7188rem + 0.1667vw, 0.875rem);
$fs-s-2: clamp(0.75rem, 0.6875rem + 0.3333vw, 1rem);
$fs-s-3: clamp(0.75rem, 0.5rem + 1.3333vw, 1.75rem);
//regular :
$fs-r-1: clamp(0.875rem, 0.8438rem + 0.1667vw, 1rem);
$fs-r-2: clamp(0.875rem, 0.7813rem + 0.5vw, 1.25rem);
$fs-r-3: clamp(0.875rem, 0.7188rem + 0.8333vw, 1.5rem);
$fs-r-4: clamp(0.875rem, 0.5625rem + 1.6667vw, 2.125rem);
$fs-r-5: clamp(0.875rem, 0.1563rem + 3.8333vw, 3.75rem);
//medium :
$fs-m-1: clamp(1rem, 0.7188rem + 1.5vw, 2.125rem);
$fs-m-2: clamp(1.25rem, 1.0313rem + 1.1667vw, 2.125rem);
$fs-m-3: clamp(1.25rem, 0.9375rem + 1.6667vw, 2.5rem);
//large :
$fs-l-1: clamp(1.5rem, 0.9375rem + 3vw, 3.75rem);

//font weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

$fw-list: (
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
);

//size
$size-0: 0.25rem;
$size-1: 0.5rem;
$size-2: 0.75rem;
$size-3: 0.875rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-11: 2.75rem;
$size-12: 3rem;
$size-13: 3.1875rem;
