@use "../../styles" as *;

.specials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size-1;
  margin-top: $size-6;
}

.specials__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $size-4;
}

.specials__banner {
  width: 100%;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
}

.specials__banner[data-type="wide"] {
  aspect-ratio: 32/9;
  grid-column: 1/3;
}

.specials__banner[data-type="medium"] {
  aspect-ratio: 21/9;
}

.specials__banner[data-type="medium"] h3 {
  display: none;
}

.specials__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specials__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // gap: $size-4;
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: start;
  padding: $size-4;

  * {
    color: hsl(19, 66%, 36%);
  }

  h2,
  h3 {
    display: inline-block;
    width: fit-content;
  }
}

.arrow {
  width: $size-6;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(152, 70, 31,0.5);

  svg {
    width: 100%;
    fill: currentColor;
    stroke: currentColor;
  }
}

@media (min-width: $screen-md) {
  .arrow {
    width: $size-13;
  }
}
