@use "../../../styles/" as *;

.item__container {
  padding: 16px 8px;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  background-color: $clr-bright;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem 0.8rem;
  grid-template-areas:
    "img ctg "
    "img title "
    "img qty "
    "img price "
    "btn btn ";
}

@media (min-width: $screen-md) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "img ctg price qty subtotal"
      "img title btn btn btn";
    align-items: center;
  }
}

.img-area {
  grid-area: img;
}
.ctg-area {
  grid-area: ctg;
  align-self: center;
}
.title-area {
  grid-area: title;
}
.qty-area {
  grid-area: qty;
}
.price-area {
  grid-area: price;
}
.btn-area {
  grid-area: btn;
}
.subtotal-area {
  grid-area: subtotal;
}

.img__container {
  width: 100%;
  aspect-ratio: 12/10;
  border-radius: $border-radius;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.ctg,
.title,
.qty {
  font-size: $fs-s-2;
}

.ctg {
  font-weight: $fw-600;
  color: $clr-emphasis-high;
}

.title,
.qty {
  font-weight: $fw-500;
  color: $clr-emphasis-low;
}

.price,
.subtotal {
  font-size: $fs-r-1;
  font-weight: $fw-600;
  color: $clr-emphasis-high;
}

@media (max-width: $screen-md) {
  .subtotal {
    display: none;
  }
}

@media (min-width: $screen-md) {
  .price,
  .subtotal {
    font-weight: $fw-400;
  }
}

.btn__container {
  text-align: center;
}

.btn {
  width: calc(50% - 2px);
  padding-block: 8px;
  font-size: $fs-4;
  font-weight: $fw-600;
  color: $clr-primary;
}

@media (min-width: $screen-md) {
  .btn {
    padding: 0;
    text-decoration: underline;
  }

  .btn:nth-of-type(2) {
    color: $clr-error;
  }
}

.btn:hover {
  cursor: pointer;
}

.h-seperator {
  display: inline-block;
  width: calc(100% - 16px);
  height: 2px;
  background-color: #0000001f;
  margin-block: 0.25rem;
}

.v-seperator {
  display: inline-block;
  width: 2px;
  height: 24px;
  background-color: #0000001f;
  // margin-block: 0.25rem;
}

@media (min-width: $screen-md) {
  .h-seperator,
  .v-seperator {
    display: none;
  }
}
