@use "../../../styles/" as *;

.grid {
  @extend %pd-inline;

  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "pic"
    "info"
    "btn"
    "desc";
  gap: 0.875rem;

  @media (min-width: $screen-md) {
    grid-template-columns: 35% 65%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "pic info"
      "pic btn"
      "desc desc";
  }
}

.pic-area {
  grid-area: pic;
}

.info-area {
  grid-area: info;
}

.btn-area {
  grid-area: btn;
}

.desc-area {
  grid-area: desc;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-container {
  width: 100%;
  aspect-ratio: 5/4;
}

.image {
  position: static !important;
  border-radius: $border-radius;
}

.title {
  @extend %text-emphasis-high;

  @media (min-width: $screen-md) {
    color: $clr-bright;
    background-color: $clr-primary;
    border-radius: $border-radius;
    padding: 2px 16px;
  }
}

@media (min-width: $screen-md) {
  .desc-title {
    padding: 0.75rem 1rem;
    background-color: $clr-gray;
    border-radius: $border-radius;
    border-top: none;
  }
}

.desc {
  @extend %text-emphasis-low;
  text-align: justify;
  line-height: 1.25rem;
}

.title,
.desc {
  @extend %fw-500;
  font-size: $fs-r-1;
}

.ctg {
  @extend %text-dark;
  font-size: $fs-r-1;
}

.item-title {
  @extend %text-emphasis-low;
  font-size: $fs-r-2;
}

.ctg,
.item-title {
  @extend %fw-500;
}

.price {
  @extend %text-emphasis-high, %fw-600;
  font-size: $fs-m-3;
}

@media (min-width: $screen-md) {
  .ctg,
  .item-title {
    font-weight: $fw-600;
  }

  .price {
    font-weight: $fw-700;
  }
}

.add-to-bag__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qty__container {
  @extend %fs-6, %fw-600, %text-dark;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  column-count: 2;

  @media (max-width: $screen-md) {
    display: none;
  }
}

.separator {
  display: inline-block;
  width: 100%;
  height: 16px;
  background-color: $clr-gray;
  box-shadow: 60px 0px 0px 0px $clr-gray, -60px 0px 0px 0px $clr-gray;
}

@media (min-width: $screen-md) {
  .separator {
    display: none;
  }
}

.error-massege{
  @extend %text-error, %fs-5;
  margin-block: 0.5rem;
}