@use "../../../styles/" as *;

// .relative{
//   position: relative;
// }

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "pic"
    "info"
    "btn"
    "desc";
  gap: 0.875rem;
}

@media (min-width: $screen-md) {
  .grid {
    grid-template-columns: 45% 55%;
    grid-template-areas:
      "pic info"
      "pic btn"
      "desc desc";
  }
}

.pic-area {
  grid-area: pic;
}

.info-area {
  grid-area: info;
}

.btn-area {
  grid-area: btn;
  align-self: flex-end;
}

.desc-area {
  grid-area: desc;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-container {
  width: 100%;
  aspect-ratio: 16/9;
}

// @media (min-width: $screen-md) {
//   .image-container {
//     width: clamp(40%, 10% + 1vw, 100%);
//   }
// }

.image {
  position: static !important;
  // aspect-ratio: 4/3;
  // object-fit: contain;
  border-radius: $border-radius;
}

// .btn-container{
//   position: sticky;
// }

// @media (max-width: $screen-md) {
//   .btn-container {
//     position: fixed;
//     left:0;
//     bottom: 0;
//   }
// }

.button {
  background-color: $clr-primary-400;
  color: $clr-accent-400;
  padding: $size-1 $size-4;
  border-radius: $border-radius;
  width: 100%;
}

.title {
  color: $clr-emphasis-700;
}

@media (min-width: $screen-md) {
  .title {
    color: $clr-bright-400;
    background-color: $clr-primary-400;
    border-radius: 8px;
    padding: 2px 16px;
  }

  .desc-title {
    padding: 0.75rem 1rem;
    background-color: $clr-gray-400;
    border-radius: 8px;
    border-top: none;
  }
}

.desc {
  text-align: justify;
  color: $clr-emphasis-400;
  line-height: 1.25rem;
}

.title,
.desc {
  font-size: clamp(0.875rem, 0.8438rem + 0.1667vw, 1rem);
  font-weight: 500;
}

.ctg {
  font-size: clamp(1rem, 0.7188rem + 1.5vw, 2.125rem);
  color: $clr-dark-400;
}

.item-title {
  font-size: clamp(0.875rem, 0.7813rem + 0.5vw, 1.25rem);
  color: $clr-emphasis-400;
}

.ctg,
.item-title {
  font-weight: 500;
}

.price {
  font-size: clamp(1.25rem, 0.9375rem + 1.6667vw, 2.5rem);
  font-weight: 600;
  color: $clr-emphasis-700;
}

@media (min-width: $screen-md) {
  .ctg,
  .item-title {
    font-weight: 600;
  }

  .price {
    font-weight: 700;
  }
}

.separator {
  display: inline-block;
  width: 100%;
  height: 16px;
  background-color: $clr-gray-400;
  box-shadow: 60px 0px 0px 0px $clr-gray-400,
     -60px 0px 0px 0px $clr-gray-400;
}

@media (min-width: $screen-md) {
  .separator {
    display: none;
  }
}
