@use "../../styles/" as *;

.checkout__container {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "title"
    "address"
    "summary"
    "payment";
}

@media (min-width: $screen-md) {
  .checkout__container {
    gap: 1rem 5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title title"
      "address summary"
      "payment summary";
  }
}

.title-area{
  grid-area: title;
}

.checkout__title {
  font-size: clamp(1.25rem, 1.0313rem + 1.1667vw, 2.125rem);
  font-weight: 600;
  color: $clr-primary-400;
  margin-block: 1rem clamp(1rem, 0.75rem + 1.3333vw, 2rem);
}
