@use "../../styles" as *;

.header {
  padding: $size-6 + $size-4 $size-4 $size-4 $size-4;
}

@media (min-width: $screen-md) {
  .header {
    padding: $size-4 $size-5;
  }
}

.flex,
.flex__left-items,
.flex__right-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex {
  justify-content: space-between;
}

.flex__left-items {
  gap: $size-5;
}

.flex__right-items {
  gap: $size-6;
}

.logo{
  width: 6.75rem;
  aspect-ratio: 5/1;
}
