@use "../../styles" as *;

.arrivals {
  display: flex;
  flex-direction: column;
  gap: $size-6;
  margin-top: $size-7;
}

.arrivals__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
