@import "../../styles/typography";
@import "../../styles/generals";
@import "../../styles/variables";

.arrivals {
  @include m-p;

  width: 100%;
  // height: 14.625rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: $p-init;
}

.arrivals__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: $typeHighEmphasis;
  }
}

.arrivals__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
  padding-block: 0.2rem;
  // overflow-y:  auto;
}

.arrivals__item {
  // height: 13rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  gap: 0.2rem;

  img {
    width: 8.5rem;
    aspect-ratio: 1/1;
  }

  h3 {
    color: $typeHighEmphasis;
  }

  h4 {
    color: $typeLowEmphasis;
  }
}

@media (min-width: $desktop) {
  .arrivals__list {
    gap: $p-init;
  }

  .arrivals__item {
    min-width: calc(100% / 4 - $p-init);

    img {
      width: 100%;
    }
  }
}
