@import "../../styles/typography";
@import "../../styles/generals";
@import "../../styles/variables";

.flex-col-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-col-1 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.footer__container {
  margin-top: $m-init;
}

.more-info {
  width: 100%;
  height: 3rem;
  padding-inline: $p-init;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: $typeHighEmphasis;
  }
}

.footer {
  width: 100%;
  padding-block: $m-init;
  background-color: $primary;

  h2 {
    color: $bright;
    margin-bottom: 0.5rem;
  }

  p,
  li {
    color: $lightText;
  }

  > div {
    padding-inline: $p-init;
  }
}

.break-line {
  height: 2px;
  background: $lightText;
}

.location {
  display: flex;
  gap: 0.4rem;
}

.social-media img {
  width: fit-content;
  height: 2rem;
}

@media (min-width: $desktop) {
  .more-info,
  .break-line {
    display: none;
  }

  .footer {
    flex-direction: row;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;

    > :last-child {
      grid-column: 1/4;
    }
  }
}

@media (min-width: $large) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 2fr;

    > :last-child {
      grid-column: 4/5;
      align-items: end;
    }
  }
}
