@use "../../../styles/" as *;

.address__container {
  padding: 0.6rem 1rem;
  background-color: $clr-accent;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: $fs-4;
    font-weight: $fw-600;
    color: $clr-emphasis-high;
  }

  p {
    font-size: $fs-4;
    font-weight: $fw-500;
    color: $clr-emphasis-low;
  }
}

.btn {
  padding: 8px;
  aspect-ratio: 1;
  background-color: $clr-primary;
  border-radius: $border-radius;
}

.btn:hover{
  cursor: pointer;
}

.empty__title {
  display: flex;
  align-items: center;
  height: 100%;
}
