@use "../../../styles/" as *;

.product__container {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto auto;

  grid-template-areas:
    "img info"
    "img price"
    "img qty"
    "img btn";
  // grid-template-columns: 45% 55%;

  @media (max-width: $screen-md) {
    width: 80%;
    // grid-template-rows: auto auto auto auto;
  }

  @media (min-width: $screen-md) {
    grid-template-areas: "img info price qty total";
    grid-template-columns: 75px 2fr repeat(3, 1fr);
  }
}

.product__image {
  position: relative;
  top: 0;
  left: 0;
  width: fit-content;
  aspect-ratio: 1;
  grid-area: img;
  border-radius: $border-radius;
  overflow: hidden;

  // @media (max-width: $screen-md) {
  //   grid-row: span 4;
  // }
}

.product__info {
  grid-area: info;
}

.product__title {
  @extend %fw-600, %text-emphasis-high;
  font-size: $fs-s-2;

  @media (min-width: $screen-md) {
    font-weight: $fw-500;
  }
}

.product__category {
  @extend %fw-500, %text-emphasis-low;
  font-size: $fs-s-2;

  @media (min-width: $screen-md) {
    font-weight: $fw-400;
  }
}

.product__price {
  @extend %fs-4, %fw-600, %text-emphasis-high;
  grid-area: price;

  @media (min-width: $screen-md) {
    font-weight: $fw-500;
  }
}

.product__qty {
  @extend %fw-500, %text-emphasis-low;
  grid-area: qty;
  font-size: $fs-s-1;

  span {
    @media (min-width: $screen-md) {
      display: none;
    }
  }

  @media (min-width: $screen-md) {
    color: $clr-emphasis-high;
  }
}

.product__sub-total {
  @extend %fs-4, %fw-500, %text-emphasis-high;
  grid-area: total;

  @media (max-width: $screen-md) {
    display: none;
  }
}

.product__btn {
  grid-area: btn;
  height: $size-9;
  align-self: end;

  @media (min-width: $screen-md) {
    display: none;
  }
}
