@use "../../styles" as *;

.banner__container {
  position: relative;
  width: 100%;
  height: clamp(7.5rem, 40vh, 25rem);
  // aspect-ratio: 29 /9;
  border-radius: $border-radius;
  overflow: hidden;

  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  // button {
  //   position: relative;
  // }
}

// @media (min-width: $screen-md) {
//   .banner__container {
//     height: 25rem;
//   }
// }

.banner__text {
  position: absolute;
  right: 0;
  top: 50%;
  width: 55%;
  height: 70%;
  background-color: rgba($clr-bright-400, 0.7);
  border-radius: $border-radius 0 0 $border-radius;
  padding: $size-3 $size-2;
  transform: translateY(-50%);

  > * {
    margin-bottom: $size-2;
  }
}
