@use "../../styles" as *;

.grid-auto {
  display: grid;
  grid-template-columns: auto auto;
  gap: $size-6 $size-5;
  // grid-auto-columns: 1fr 1fr ;
  // grid-auto-flow: row;
}

@media (min-width: $screen-md) {
  .grid-auto {
    grid-template-columns: auto auto auto;
    gap: 4.25rem $size-8;
  }
}
