@use "../../styles" as *;

.grid-auto {
  @extend %pd-inline;
  display: grid;
  grid-template-columns: auto auto;
  gap: $size-6 $size-5;
}

@media (min-width: $screen-md) {
  .grid-auto {
    grid-template-columns: auto auto auto;
    gap: 4.25rem $size-8;
  }
}
