@use "../../styles" as *;

.button {
  @extend %bg-primary, %text-bright;
  width: fit-content;
  padding: 0.2rem 1.875rem;
  border-radius: $border-radius;
  border: 1px solid $clr-primary;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: $fs-r-1;
  font-weight: $fw-500;

  &:hover {
    @extend %bg-bright, %text-primary;
  }

  @media (min-width: $screen-md) {
    padding: 0.2rem 2rem;
  }
}
